a{
	font-size: 48;
	color: pink;
	font-family: monospace;
}

.main #important a:hover{
	background: yellow;
	color: green;
	font-family: serif;
}
a:hover{
	color: green;
	font-size: 48pt;
	font-family: serif;
}

div.main{
	width: 500px;
	height: 500px;
	background-color: green;
}

div.main:before{
	content: "\03a9";
}

div.main:after{
	content: url(https://i.pinimg.com/originals/ac/2b/43/ac2b437e61250d013f1d2e30d6d46318.jpg);
}